/* item */
li {
  list-style: none;
  height: 36px;
  line-height: 36px;
  padding: 4px 7px;
  border-bottom: 1px solid #ddd;
}

li label {
    float: left;
    cursor: pointer;
}



li button {
    float: right;
   
    margin-top: 3px;
}



li:before {
    content: initial;
}

li:last-child {
    border-bottom: none;
}

  

  